<p>
  landing-page works!
</p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Most Recent Post</h2>
      <div>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
      </div>
      <p><a class="btn btn-default" href="#!/blog" role="button">View more &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Featured Projects</h2>
      <div>

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      <p><a class="btn btn-default" href="dbms.html" role="button">View more &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>About</h2>
      <p>Very versatile leader with strong training. Seeking to expand capabilities with technical field employment. Very interested in backend development. Experienced leading long term projects and delegating short term goals to team mates. Skilled in technical fields.</p>
    </div>
  </div>



  <footer>
    <p>&copy; Grant Edward Merrill 2017 XD</p>
  </footer>
</div>
