
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Super Cool Title</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-center">
                    <p ng-model="model.user.username">
                       Welcome {{model.user.username}}
                   </p>
                </div>
                <div class="navbar-right">
                    <a type="submit" href="#!/login" class="btn btn-primary">Logout</a>
                    <a type="submit" href="#!/profile/{{model.route.uid}}/settings" class="btn btn-success">Settings</a>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>


    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2>Most Recent Post</h2>
                <div>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                </div>
                <p><a class="btn btn-default" href="#!/blog" role="button">View more &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>Featured Projects</h2>
                <div>

                </div>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="dbms.html" role="button">View more &raquo;</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>About</h2>
                <p>Very versatile leader with strong training. Seeking to expand capabilities with technical field employment. Very interested in backend development. Experienced leading long term projects and delegating short term goals to team mates. Skilled in technical fields.</p>
            </div>
        </div>



        <footer>
            <p>&copy; Grant Edward Merrill 2017 XD</p>
        </footer>
    </div>


</div>